[submodule "vendor/rhtml"]
	path = vendor/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "vendor/rinari"]
	path = vendor/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "vendor/jump"]
	path = vendor/jump
	url = git://github.com/eschulte/jump.el.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
