[submodule "lisp/rhtml"]
	path = lisp/rhtml
	url = git://github.com/eschulte/rhtml.git
[submodule "lisp/rinari"]
	path = lisp/rinari
	url = git://github.com/eschulte/rinari.git
[submodule "lisp/jump"]
	path = lisp/jump
	url = git://github.com/eschulte/jump.el.git
[submodule "vendor/textmate"]
	path = vendor/textmate
	url = git://github.com/defunkt/textmate.el.git
[submodule "vendor/yasnippet"]
	path = vendor/yasnippet
	url = git://github.com/defunkt/yasnippet.git
